.App {
  background-color: #ffcc5b;
  min-height: 100vh;
  font-family: Poppins;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.small {
  height: auto;
}

.large {
  height: 300px;
}
.App-header {
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;

  color: #202021;
}

.App-header-description {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;

  color: #202021;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-box {
  width: 688px;
  height: 40px;
  background: #ffffff;
}

.search-box::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

.search-suggestion {
  width: 685px;
  height: 80px;
  background: #fff;
  border: 1px solid;
  display: flex;
  margin: 5px auto;
}

.search-suggestion:focus-within {
  background: cyan;
}
.search-suggestion:hover .image{
  filter: grayscale(0%);
}

.image {
  width: 20%;
  height: 100%;
  filter: grayscale(100%);
}

/* .image:hover{
  filter: grayscale(0%);
} */

.lyrics-title {
  width: 685px;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;

  color: #000000;
}

.lyrics-description {
  width: 685px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  color: #000000;
}

.artist {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 33px;
  color: #000000;
}

.artist-song {
  width: 55%;
  padding: 10px;
}

.btn {
  background: #202021;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  margin: 10px;
  height: 50px;

}
.btn-sm {
  width: 160px;
}

.btn-lg {
  width: 200px;
}


.lyrics-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-icon {
  width: 25px;
  height: 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.app-icon-button {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 10px;
}
