body {
  background-color: #ffcc5b;
  color: #202021;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.small {
  height: auto;
}

.large {
  height: 300px;
}
.app-header {
  font-weight: 600;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-box {
  width: 100%;
  background: #ffffff;
}

.search-box::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

.search-suggestion {
  width: 100%;
  height: 80px;
  background: #fff;
  border: 1px solid;
  display: flex;
  margin: 5px auto;
}

.search-suggestion:focus-within {
  background: cyan;
}
.search-suggestion:hover .image{
  filter: grayscale(0%);
}

.image {
  width: 20%;
  height: 100%;
  filter: grayscale(100%);
}

/* .image:hover{
  filter: grayscale(0%);
} */

.lyrics-title {
  width: 100%;
  font-weight: 600;
  font-size: 32px;
}

.lyrics-description {
  width: 100%;
  font-size: 20px;
}

.artist {
  color: #000000;
}

.artist-song {
  width: 55%;
  padding: 10px;
}

.btn {
  background: #202021;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn:hover{
  color:gray
}

.btn:focus{
  color:gray
}

.btn:disabled {
  background:gray;
  color:#ffffff;
}

.btn:disabled:hover{
  background:gray;
  color:#ffffff;
}

.item {
  align-self: center;
}

.lyrics-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-icon {
  width: 15px;
  height: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.app-icon-button {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 10px;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.value-description {
  opacity: .8;
  margin:0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* mobiles - small screens */
@media (max-width: 400px) {
  .container{
    padding: 0 5px;
    width: 100%;
  }
  .value-description {
    font-size: 12px;
  }
  .artist-song {
    max-width: 100px;
  }
  
}

/* Bigger than 400 */
@media (min-width: 400px) {
  .container{
    padding: 0 5px;
    width: 100%;
  }
  .value-description {
    font-size: 12px;
  }
  .artist-song {
    max-width: 130px;
  }
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .container{
    padding: 0 5px;
    width: 100%;
  }
  .app-icon {
    width: 25px;
    height: 25px;
  }
  .artist-song {
    max-width: 250px;
  }
}


/* Bigger than 750 */
@media (min-width: 750px) {
  .container{
    width: 85%;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .artist-song {
    max-width: 250px;
  }

}
/* Larger than desktop */
@media (min-width: 1000px) {
  .artist-song {
    max-width: 350px;
  }
}
